:root {
  --background-color: #272727;
  --primary-color: #c4c4c4;
  --secondary-color: #5c5c5c;
  --tertiary-color: #8b8888;
  --quaternary-color: #ececec;

  --font-color-dark: #000000;
  --font-color-light: #ececec;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: var(--background-color);
  color: var(--font-color-dark);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  height: 100vh;
}

.container {
  background: var(--primary-color);
  height: 100%;
  width: 100%;
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.main {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: grid;
}

.title {
  grid-row: 1;
  grid-column: 1;
  font-size: 1.4rem;
  padding: 1em;
  background: var(--primary-color);
  width: 100%;
  text-align: center;
  margin: 0;
}

.title .fas {
  font-size: 1.8rem;
  margin-right: 0.5em;
}

.nav-toggle {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-toggle--button {
  align-self: center;
  padding: 0.1em;
  margin: 0 0.1em;
  font-size: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-toggle--button:hover {
  outline: 1px solid var(--font-color-dark);
  border-radius: 6px;
}

.nav-toggle--button:active {
  transform: scale(0.93);
  border: 1px solid var(--font-color-dark);
  border-radius: 6px;
}

.nav-tools,
.nav-modules {
  position: fixed;
  z-index: 9999;
  background: rgba(150, 150, 150, 0.8);
  width: 100%;
  height: 100%;
  transition: all 250ms;
  transform: translateX(0);
  opacity: 1;
  visibility: unset;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.nav-tools.hide {
  transform: translateX(50%);
}

.nav-modules.hide {
  transform: translateX(-50%);
}

/* Module classes */

.module {
  width: 100%;
  margin: 0;
  padding: 0;
}

.module--title {
  background: var(--secondary-color);
  font-size: 1.8rem;
  color: var(--font-color-light);
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.module--title .fas {
  margin: 0 0.5em;
}

.module--container {
  background: var(--primary-color);
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-y: auto;
  max-height: calc(100vh - 145px);
}

.search-form {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0.2em 0.2em;
}

.search-label {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.5em;
}

.search-input {
  font-size: 1.8rem;
  width: 100%;
  padding: 0.2em;
  margin: 0;
  align-self: center;
}

.module--row {
  display: grid;
  grid-template: repeat(4, auto) / 40px 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-areas:
    "cbox name name name name name name name name"
    "cbox aaaa bbbb cccc cccc dddd dddd eeee ffff"
    "cbox gggg hhhh hhhh hhhh hhhh iiii iiii iiii"
    "jjjj jjjj kkkk kkkk llll llll llll llll llll";
  max-width: 100%;
  padding: 0.1em 0.2em;
  background: var(--primary-color);
}

.module--row input[type="checkbox"] {
  transform: scale(2);
}

.module--row .cell {
  margin: -1px;
  padding: 0.1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* overflow-wrap: break-word; */
  /* hyphens: auto; */
  /* font-weight: bold; */
  border: 1px solid var(--secondary-color);
}

.row-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.module--row.heading .cell {
  background: var(--tertiary-color);
  color: var(--font-color-light);
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.module--row .cell {
  background: var(--primary-color);
  color: var(--font-color-dark);
  font-weight: bold;
}

.module--row:nth-child(even) .cell {
  background: var(--quaternary-color);
}

.module--row .cell:nth-child(1) {
  grid-area: cbox;
}

.module--row .cell:nth-child(2) {
  grid-area: name;
}

.module--row .cell:nth-child(3) {
  grid-area: aaaa;
}

.module--row .cell:nth-child(4) {
  grid-area: bbbb;
}

.module--row .cell:nth-child(5) {
  grid-area: cccc;
}

.module--row .cell:nth-child(6) {
  grid-area: dddd;
}

.module--row .cell:nth-child(7) {
  grid-area: eeee;
}

.module--row .cell:nth-child(8) {
  grid-area: ffff;
}

.module--row .cell:nth-child(9) {
  grid-area: gggg;
}

.module--row .cell:nth-child(10) {
  grid-area: hhhh;
}

.module--row .cell:nth-child(11) {
  grid-area: iiii;
}

.module--row .cell:nth-child(12) {
  grid-area: jjjj;
}

.module--row .cell:nth-child(13) {
  grid-area: kkkk;
}

.module--row .cell:nth-child(14) {
  grid-area: llll;
}
