:root {
  --background-color: #272727;
  --primary-color: #c4c4c4;
  --primary-color-darker: #8b8888;
  --primary-color-dark: #5c5c5c;
  --primary-color-light: #ececec;

  --font-color-dark: #000000;
  --font-color-light: #ececec;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: var(--background-color);
  color: var(--font-color-dark);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  height: 100vh;
}

.container {
  background: var(--primary-color);
  height: 100%;
  width: 100%;
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.main {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: grid;
}

.title {
  grid-row: 1;
  grid-column: 1;
  font-size: 1.4rem;
  padding: 1em;
  background: var(--primary-color);
  width: 100%;
  text-align: center;
  margin: 0;
}

.title .fas {
  font-size: 1.8rem;
  margin-right: 0.5em;
}

.nav-toggle {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-toggle--button {
  align-self: center;
  padding: 0.1em;
  margin: 0 0.1em;
  font-size: 3rem;
  background: transparent;
  border: none;
}

.nav-overlay {
  position: fixed;
  z-index: 9999;
  background: rgba(150, 150, 150, 0.8);
  width: 100%;
  height: 100%;
  max-width: 1210px;
  transition: all 250ms;
  transform: translateX(0);
  opacity: 1;
  visibility: unset;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

#nav-tools.hide {
  transform: translateX(50%);
}

#nav-modules.hide {
  transform: translateX(-50%);
}

.nav-toolbar {
  padding: 0;
  margin: 0;
  background: var(--primary-color);
  width: 255px;
  height: calc(100% - 48px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-modules .nav-toolbar {
  left: 0;
}

#nav-tools .nav-toolbar {
  right: 0;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 750ms;
}

.group-title {
  background: var(--primary-color-darker);
  color: var(--font-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em;
  font-size: 2rem;
}

.group-title .fas {
  margin: 0 0.5em 0 0;
  font-size: 3rem;
}

.nav-buttons-group {
  width: 240px;
  margin-top: 0.2em;
  background: var(--primary-color-darker);
  padding: 0.2em;
  border-radius: 6px;
  /* height: 200px; it is calculated in JS function setButtonsGroupsHeights() */
  transition: height 500ms;
}

.folded {
  height: 60px !important;
}

.folded .nav-buttons {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  height: 0;
  transform: translateY(-50px);
}

.nav-btn {
  width: 240px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.75em 1.5em;
  margin: 0.2em 0;
  background: var(--primary-color-darker);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grouped {
  background: var(--primary-color-dark);
  color: var(--font-color-light);
  width: 220px;
}

.nav-btn .fas,
.nav-btn .fab {
  font-size: 3rem;
  margin-right: 0.5em;
}

.nav-tools-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.2em;
}

.nav-filter-container {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.filter {
  background: var(--primary-color-light);
  padding: 0.2em 0.2em 0.5em 0.2em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.filter-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.filter-btn .fas {
  font-size: 3rem;
}

.filter-opt {
  display: flex;
  justify-content: space-between;
  margin: 1em 0.2em;
}

.filter-opt * {
  font-size: 2.5rem;
}

.filter-opt select {
  width: 100%;
  margin-left: 0.3em;
}

#arch-checkbox {
  transform: scale(2);
  margin-right: 0.4em;
}

.btn,
.folded {
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover,
.folded:hover {
  outline: 1px solid var(--font-color-dark);
  border-radius: 6px;
}

.btn:active,
.folded:active {
  transform: scale(0.93);
  outline: 1px solid var(--font-color-dark);
  border-radius: 6px;
}

/* Module classes */

.module {
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-title {
  width: 100%;
  background: var(--primary-color-dark);
  font-size: 1.8rem;
  color: var(--font-color-light);
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.section-title .fas {
  margin: 0 0.5em;
}

.module--container {
  background: var(--primary-color);
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-y: auto;
  max-height: calc(100vh - 145px);
}

.search-form {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0.2em 0.2em;
}

.search-label {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.5em;
}

.search-input {
  font-size: 1.8rem;
  width: 100%;
  padding: 0.2em;
  margin: 0;
  align-self: center;
}

.module--row {
  display: grid;
  grid-template: repeat(4, auto) / 40px 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-areas:
    "cbox name name name name name name name name"
    "cbox aaaa bbbb cccc cccc dddd dddd eeee ffff"
    "cbox gggg hhhh hhhh hhhh hhhh iiii iiii iiii"
    "jjjj jjjj kkkk kkkk llll llll llll llll llll";
  max-width: 100%;
  padding: 0.1em 0.2em;
  background: var(--primary-color);
}

.module--row input[type="checkbox"] {
  transform: scale(2);
}

.module--row .cell {
  margin: -1px;
  padding: 0.1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* overflow-wrap: break-word; */
  /* hyphens: auto; */
  /* font-weight: bold; */
  border: 1px solid var(--primary-color-dark);
}

.row-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.module--row.heading .cell {
  background: var(--primary-color-darker);
  color: var(--font-color-light);
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.module--row .cell {
  background: var(--primary-color);
  color: var(--font-color-dark);
  font-weight: bold;
}

.module--row:nth-child(even) .cell {
  background: var(--primary-color-light);
}

.module--row .cell:nth-child(1) {
  grid-area: cbox;
}

.module--row .cell:nth-child(2) {
  grid-area: name;
}

.module--row .cell:nth-child(3) {
  grid-area: aaaa;
}

.module--row .cell:nth-child(4) {
  grid-area: bbbb;
}

.module--row .cell:nth-child(5) {
  grid-area: cccc;
}

.module--row .cell:nth-child(6) {
  grid-area: dddd;
}

.module--row .cell:nth-child(7) {
  grid-area: eeee;
}

.module--row .cell:nth-child(8) {
  grid-area: ffff;
}

.module--row .cell:nth-child(9) {
  grid-area: gggg;
}

.module--row .cell:nth-child(10) {
  grid-area: hhhh;
}

.module--row .cell:nth-child(11) {
  grid-area: iiii;
}

.module--row .cell:nth-child(12) {
  grid-area: jjjj;
}

.module--row .cell:nth-child(13) {
  grid-area: kkkk;
}

.module--row .cell:nth-child(14) {
  grid-area: llll;
}
